<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Ресторан</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu_style.css}"/>
</head>

<body>
<table>
    <tr>
        <th><a href="index">Главная</a></th>
        <th><a href="menu">Меню</a></th>
        <th><a href="login">Войти</a></th>
        <th><a href="registration">Зарегистрироваться</a></th>
    </tr>
</table>

<div id="header">
    <h1>Ресторан</h1>
    <p class="descript">Что не делается - все к лучшему</p>
</div>

<h2 align="center"> Пользователь зарегистрирован. Теперь достаточно войти и что-нибудь заказать.</h2>

</body>
</html>