<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Ресторан</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu_style.css}"/>
</head>
<body>
<table>
    <tr>
        <th><a href="index">Главная</a></th>
        <th><a href="menu_unreg">Меню</a></th>
        <th><a href="login">Войти</a></th>
        <th><a href="registration">Зарегистрироваться</a></th>
    </tr>
</table>

<div id="header">
    <h1>Ресторан</h1>
    <p class="descript">Что не делается - все к лучшему</p>
</div>
<p align="right">Hello, <span th:text="${session.username} ?: 'Guest'"></span>.</p>

<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Категория</th>
        <th>Цена, руб.</th>
    </tr>

    <tr th:each="dish : ${dishes}">
        <td th:text="${dish.id}"></td>
        <td th:text="${dish.name}"></td>
        <td th:text="${dish.description}"></td>
        <td th:text="${dish.category}"></td>
        <td th:text="${dish.price}"></td>
    </tr>

</table>
</body>
</html>