<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Ресторан</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu_style.css}"/>
</head>
<body>
<table>
    <tr>
        <th><a href="index">Главная</a></th>
        <th><a href="menu_unreg">Меню</a></th>
        <th><a href="login">Войти</a></th>
        <th><a href="registration">Зарегистрироваться</a></th>
    </tr>
</table>

<div id="header">
    <h1>Ресторан</h1>
    <p class="descript">Что не делается - все к лучшему</p>
</div>

<form action="#" th:action="@{/registration}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Имя:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td><input type="text" th:field="*{surname}" /></td>
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Name Error</td>
        </tr>
        <tr>
            <td>Имя пользователя:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td><input type="text" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
        </tr>
        <tr>
            <td>Номер телефона:</td>
            <td><input type="text" th:field="*{phoneNumber}" /></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
        </tr>
        <tr>
            <td><button type="submit">Создать</button></td>
            <td><button type="reset">Сбросить</button></td>
        </tr>
    </table>

<!--    <p>Name: <input required type="text" th:field="*{name}" /></p>-->
<!--    <p>Surname: <input required type="text" th:field="*{surname}" /></p>-->
<!--    <p>Username: <input required type="text" th:field="*{username}" /></p>-->
<!--    <p>Password: <input required type="password" th:field="*{password}"/></p>-->
<!--    <p>Phone Number: <input required type="tel" th:field="*{phoneNumber}" /></p>-->
<!--    <p>E-mail: <input required type="email" th:field="*{email}"/></p>-->

<!--    <p><input type="submit" value="Создать" /> <input type="reset" value="Сбросить" /></p>-->
</form>

</body>
</html>